<app-home-layout>
  <div class="car-container">
    <div class="car-box">
      <div class="car-details">
        <img [src]="car.imagePath" alt="Car Image" class="car-image">
        <h3>{{ car.brandName }} {{ car.modelName }}</h3>
        <p><strong>Year:</strong> {{ car.modelYear }}</p>
        <p><strong>Daily Price:</strong> {{ car.dailyPrice }} TL</p>
        <p><strong>Fuel:</strong> {{ car.fuelName }}</p>
        <p><strong>Transmission:</strong> {{ car.transmissionName }}</p>
        <p><strong>Start Date:</strong> {{ startDate }}</p>
        <p><strong>End Date:</strong> {{ endDate }}</p>
      </div>
      <div class="payment-container">
        <form [formGroup]="cardForm" (ngSubmit)="submitPayment($event)">
          <div class="form-group">
            <label for="cardNumber"><strong>Card Number</strong></label>
            <input type="text" class="form-control" id="cardNumber" formControlName="cardNumber"
              placeholder="Enter card number">
          </div>
          <div class="form-group">
            <label for="expirationMonth"><strong>Expiration Month</strong></label>
            <input type="text" class="form-control" id="expirationMonth" formControlName="expirationMonth"
              placeholder="MM">
          </div>
          <div class="form-group">
            <label for="expirationYear"><strong>Year</strong></label>
            <input type="text" class="form-control" id="expirationYear" formControlName="expirationYear"
              placeholder="YYYY">
          </div>
          <div class="form-group">
            <label for="cvv"><strong>CVV</strong></label>
            <input type="text" class="form-control" id="cvv" formControlName="cvv" placeholder="CVV">
          </div>
          <div class="form-group">
            <label for="cardHolderFullName"><strong>Car Holder's Name</strong></label>
            <input type="text" class="form-control" id="cardHolderFullName" formControlName="cardHolderFullName"
              placeholder="Enter card holder's full name">
          </div>
          <button type="button" class="btn btn-secondary me-1" [routerLink]="['/car/detail/',car.id]">
            <i class="fas fa-arrow-left"></i> Back To Detail Page
          </button>
          <button type="submit" class="btn btn-primary ms-5">Pay And Rent</button>
        </form>
      </div>
    </div>
  </div>
</app-home-layout>