<div class="m-3">
    <table appTable>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Brand Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let brand of brands; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{brand.name}}</td>
                <td>
                    <div class="d-flex justify-content-end">
                        <app-button [routerLink]="['/management/brands/edit',brand.id]"
                            variant="warning">Edit</app-button>
                        <app-button class="ms-3" (click)="deteteBrand(brand.id!)" variant="danger">Delete</app-button>
                    </div>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>