<app-home-layout>
  <section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-3 h-100">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  <form>
                    <h3>Login</h3>
                    <div data-mdb-input-init class="form-outline mb-4">
                      <label for="login" class="form-label">Email:</label>
                      <input [(ngModel)]="authRequest.authenticationRequest.email" [ngModelOptions]="{standalone: true}" type="email" class="form-control"
                        id="login" placeholder="example@example.com">
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                      <label for="password" class="form-label">Password:</label>
                      <input [(ngModel)]="authRequest.authenticationRequest.password" [ngModelOptions]="{standalone: true}" type="password"
                        class="form-control" id="password" placeholder="********">
                    </div>

                    <div class="text-center pt-1 mb-5 pb-1">
                      <button (click)="login()" type="button" class="btn btn-primary">
                        Log In
                      </button>
                    </div>

                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">Don't have an account?</p>
                      <button (click)="register()" type="button" class="btn btn-link">
                        Register
                      </button>
                    </div>

                  </form>

                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-dark px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">More than just a company</h4>
                  <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</app-home-layout>