.text-color{
    color: #d5f2e3;
    font-size: 17px;
}

.active-link {
    color: #89d4b4;
}

.title {
    font-size: 24px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

.navbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .navbar-nav {
    margin-left: 1rem;
  }
  
  .d-flex.align-items-center {
    margin-right: 1rem;
  }
  