.text-color{
    color: #d5f2e3;
    font-size: 17px;
}

.active-link {
    color: #89d4b4;
}

.title {
    font-size: 24px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}