:host {
  display: block;

  .app-overlay {
    height: 35rem;
  }
}

.bg-image {
  background-image: url('../../../assets/images/volvo2.jpg');
  background-size: cover;
}

.custom-margin {
  margin-left: 17%;
}

