<app-home-layout>
  <div
    class="d-flex flex-column justify-content-center align-items-center app-overlay"
  >
    <h1>Welcome to our rental gallery!</h1>
    <app-button> View Models </app-button>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <app-brands-list-menu
        [initialSelectedBrandId]="selectedBrandId"
          (selectBrand)="onSelectBrand($event)"
        ></app-brands-list-menu>
      </div>
      <div class="col-8">
        app-models-card-list
        <!-- Angular Template Pipe: template tarafında veriyi terkar elden geçirip yeni veri oluşturmızı sağlar. -->
        {{ selectedBrandId }}
        <!-- <app-models-card-list [brandId]="selectedBrand?.id"></app-models-card-list> -->
      </div>
    </div>
  </div>
</app-home-layout>