<app-home-layout>
  <div class="car-container" *ngIf="car">
    <div class="car-box">
      <img [src]="car.imagePath" alt="Car Image" class="car-image">
      <div class="car-details">
        <h3>{{ car.brandName }} {{ car.modelName }}</h3>
        <p><strong>Year:</strong> {{ car.modelYear }}</p>
        <p><strong>Daily Price:</strong> {{ car.dailyPrice }} TL</p>
        <p><strong>Fuel:</strong> {{ car.fuelName }}</p>
        <p><strong>Transmission:</strong> {{ car.transmissionName }}</p>
        <form [formGroup]="dateForm" (ngSubmit)="rentCar($event)">
          <strong> Start Date: </strong><input type="date" [min]="minDate" formControlName="startDate" class="mb-2">
          <br>
          <strong> End Date: </strong><input type="date" [min]="minDate" formControlName="endDate" class="mb-2 ms-2">
          <br>
          <button type="button" class="btn btn-secondary" [routerLink]="['/cars']">
            <i class="fas fa-arrow-left"></i> Back To Cars
          </button>
          <button type="submit" class="btn btn-primary custom-margin">Rent</button>
        </form>

      </div>
    </div>
  </div>

  <div class="alert alert-warning" role="alert" *ngIf="!car">
    Car details not available.
  </div>
</app-home-layout>