:host {
  display: block;
}

.alert-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 290px;
  text-align: center;
}

/* Örneğin, cars-card-list.component.scss dosyanızda */
.pagination-container {
  display: flex;
  justify-content: flex-end; /* Sağa yaslama */
}
